{% extends "base.html" %}
{% block title %}Новый пароль{% endblock %}
{% block content %}
  <h1>Задать новый пароль</h1>
  {% if validlink %}
    <form method="post">
      {% csrf_token %}
      {{ form.new_password1.label_tag }}<br>
      {{ form.new_password1 }}<br><br>
      {{ form.new_password2.label_tag }}<br>
      {{ form.new_password2 }}<br><br>
      <button type="submit">Сохранить</button>
    </form>
  {% else %}
    <p>Ссылка устарела или недействительна. Запросите сброс пароля ещё раз.</p>
  {% endif %}
{% endblock %}
